h1 {
  font-family: 'arial', bold;
  font-weight: 500;
  line-height: 1.1;
}

body {
  background-color: #fff;
}

.well {
    box-shadow: 5px 5px 0 #DDD;
    margin-bottom: 16px;
    padding: 10px;
    line-height: 2em;
    margin-bottom: 1em;
    word-wrap: normal;
    word-break: normal;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
}

.row {
    margin-top: 25px;
}
  
